:root {
  --normal: #d3d3d3;
  --danger: #e50c0c;
  --transparent: #ffffff;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--normal {
  background-color: var(--normal);
  color: #242424;
  border: 1px solid var(--normal);
}

.btn--primary {
  background-color: var(--transparent);
  color: #242424;
  border: 1px solid var(--transparent);
}

.btn--outline {
  background-color: transparent;
  color: #242424;
  /* color: #fff; */
  padding: 8px 20px;
  border: 1px solid #242424;
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  // background: #fff;
  color: #242424;
  transition: 250ms;
}
