.cards-item-container {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 380px;
  width: 300px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  }
  .cards-item-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .cards-item {
    &__img {
      height: 200px;
      width: 200px;
    }

    &__price {
      margin-top: 10px;
      font-size: 20px;
    }
    &__title {
      font-size: 16px;
      margin-top: 10px;
      color: #3d3d3d;
      line-height: 1.5;
    }
    &__category {
      font-size: 20px;
      margin-top: 70px;
    }
  }
}
